/* Responsividade */

@media (max-width: 1200px)
{
    html 
    {
        font-size: 55%;
    }
}

@media (max-width: 991px)
{
    .header
    {
        padding: 2rem 3%;
    }

    section
    {
        padding: 10rem 3% 2rem;
    }

    .servicos
    {
        padding-bottom: 7rem;

    }

    .projetos
    {
        padding-bottom: 7rem;
    }

    .projetos h2
    {
        margin-bottom: 3rem;
    }

    .container-projeto
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer
    {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px)
{
    #openmenu, #closemenu {
		display: block;
	}

	#openmenu {
		margin-left: auto;
	}

	#closemenu {
		position: fixed;
		right: 15px;
		top: 15px;
        display: none;
	}

    .navbar
    {
		position: absolute;
		top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #0a152b;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active
    {
        display: block;
    }

    .navbar a 
    {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home
    {
        flex-direction: column;
        margin-block-start: 5rem;
    }

    .homecontent h3
    {
        font-size: 2.6rem;
        margin-block-start: 2rem;
        text-align: center;
    }

   
    .image img
    {
        margin-block-start: 8rem;
        margin-left: 50%;
    }
}

@media (max-width: 617px)
{
    .container-projeto
    {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 450px)
{
    html
    {
        font-size: 50%;
    }
}

@media (max-width: 365px)
{
    html
    {
        font-size: 50%;
    }

    .image img
    {
        width: 90vw;
    }

    .footer
    {
        flex-direction: column-reverse;
    }

    .footer p
    {
        text-align: center;
        margin-top: 2rem;
    }
}