@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root
{
    --bg-color: #1C1C1C;
    --second-bg-color: #323946;
    --header: #111111;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


a {
    
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
    transition: 0.3s;
    font-weight: 500;
  }
  
  a:hover{color: #E31C25;}

#mark{color: #E31C25;}
  
.logo img{ width: 122px; height: 85px;}

.logo img:hover{transform: scale(1.02);}
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #111111;
  }
  
  
  .navlist{list-style: none; display: flex;}
  
  .navlist li{letter-spacing: 3px; margin-left: 32px;}
  
  .mobilemenu{display: none; cursor: pointer;}
  
  .mobilemenu div
  {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

body
{
    background: var(--bg-color);
    color: white;
}

section{min-height: 100vh; padding: 1.5rem 9% 1rem;}

#menu
{
    font-size: 3.6rem;
    color: white;
    display: none;   
}

.home
{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.homecontent h3
{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Silkscreen', cursive;
}

span{ color: #E31C25; font-family: 'Silkscreen', cursive;}

.socialmedia a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: .2rem solid wheat;
    border-radius: 50%;
    font-size: 2.5rem;
    color: white;
    margin: 3rem 2.5rem 6rem 0;
    transition: .3s ease;
}

.socialmedia a:hover
{
    background: #E31C25;
    color: var(--bg-color);
    border:#E31C25;
    color: white;
    transform: scale(1.2);
}

.btn
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #E31C25;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: white;
    transition: .3s ease;
    font-family: 'Silkscreen', cursive;
    
}

.btn:hover{color: white; transform: scale(1.1);}

.round
{
    border: 3px solid white;
	border-radius: 50%;
	padding: 4.5px;
    margin: 3rem 1.5rem 3rem 0;
    position: relative;
    right: 20%;
}

.servicos{margin-bottom: 0; padding-bottom: 0;}

.servicos h2
{
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 20pt;
}

.service-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .servicebox
{
    flex: 1 1 30rem;
    background: #111111;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.servicebox i
{
    font-size: 6rem;
    color: #E31C25;
    margin-block-end: 1rem;
}

.servicebox h3
{
    font-size: 2rem;
    font-family: 'Silkscreen', cursive;
    margin-block-end: 1.5rem;
    color: white;
}

.servicebox p
{
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

.service-container .servicebox:hover{border-color: white; transform: scale(1.02);}

.projetos h2
{
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 20pt;
    margin-block-start: 8rem;
}

.projetos{ background: #111111;}

.container-projeto
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.container-projeto .portfolio-box
{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{width: 100%; transition: .5s ease;}

.portfolio-box:hover img{transform: scale(1.1)}

.portfolio-box .portlayer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1),crimson);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portlayer{transform: translateY(0);}

.portlayer h4{ font-size: 3rem; font-family: 'Silkscreen', cursive;}

.portlayer p
{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    font-family: 'Roboto Mono', monospace;
}

.portlayer a
{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   border-radius: 50%;
   background: white;
}

.portlayer a i{font-size: 2rem; color: black;}

.contato h2
{
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 20pt;
    margin-block-start: 8rem;
}

.contato form
{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .box
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contato form .box input, 
.contato form textarea
{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form textarea{ resize: none;}

.contato .btn{margin-block-start: 2rem; cursor: pointer;}

.contato .btn:hover{transform: scale(1.1);}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #111111;
}

.texto p
{
    font-size: 1.6rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.botaotop a
{
    display: inline-flex;
    justify-content: center;
     align-items: center;
    padding: .8rem;
    background: #E31C25;
    border-radius: .8rem;
    transition: .3s ease;
}

.botaotop a:hover{transform: scale(1.1);}

.botaotop a i{font-size: 2.4rem; color: white;}